* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

.title_container {
    background-color: white;
}

.title_container h1 {
    color: #29b1dd;
    padding: 15px 0 5px 10px;
    font-size: 2.3rem;
}

.select_container {
    /* background-color: #29b1dd; */
    background-image: linear-gradient(to right, #29b1dd, #84b8c9, #15637e, #15637e, #84b8c9, #29b1dd);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.select_container h3 {
    margin-right: 10px;
    text-shadow: 1px 0 0 rgb(0 0 0), -1px 0 0 rgb(0 0 0), 0 1px 0 rgb(0 0 0), 0 -1px 0 rgb(0 0 0), 1px 1px rgb(0 0 0), -1px -1px 0 rgb(0 0 0), 1px -1px 0 rgb(0 0 0), -1px 1px 0 rgb(0 0 0);
}

.select_container select {
    padding: 3px 0;
    padding-right: 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: 0 0 5px black;
}

.select_container select:focus-visible {
    outline: none;
}

.card_container {
    background-color: #ddd;
    padding-top: 10px;
    padding-bottom: 35px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card_container li {
    background-color: white;
    list-style: none;
    padding: 20px 35px;
    width: calc(20% - 36px);
    margin: 30px 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px #00000069;
    transition: all linear .2s;
}

.card_container li:hover {
    transform: translateY(-10px);
    box-shadow: 15px 15px 5px 0px #00000069;
}

.card_container li i {
    font-size: 2rem;
    margin-bottom: 5px;
}

.card_container li h4 {
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}

#selectTypeIcon option {
    text-transform: uppercase;
}

/* Classi dinamiche */

.c_icon_blue {
    color: #0000ff;
}

.c_icon_yellow {
    color: #ffa500;
}

.c_icon_purple {
    color: #800080;
}